.scrollbar::-webkit-scrollbar {
    width: .3em;
}

.scrollbar::-webkit-scrollbar-track {
    box-shadow: none;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(71 85 105 / var(--tw-bg-opacity));
    border-radius: .3em;
}
